@model IEnumerable<Smartmei.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<style>

    /* BACKGROUND */

    body {
        background-image: url('/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* CARDS */

    .evento-card {
        width: calc(50% - 20px); /* Metade da largura da tela, com espaçamento entre os cards */
        margin-bottom: 40px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .evento-card-header {
        padding: 10px;
        /*border-bottom: 1px solid #ccc;*/
        background-color: #d9dadb;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .evento-card-body {
        padding: 10px;
    }

        .evento-card-body dl {
            margin: 0;
        }

    .action-btns {
        padding: 15px;
        text-align: right;
    }

    /* BOTÃO */

    .btn-color {
        background-color: #09547F;
        color: #fff;
        border-color: #09547F;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
    }

        .btn-color:hover {
            background-color: #0C71AB;
            color: #fff;
            border-color: #E7F9F9;
            text-decoration: none;
        }

    .btn-color-add {
        background-color: #FA983C;
        color: black;
        border-color: #ff8c00;
        padding: 5px 30px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
        font-weight: bold;
    }

        .btn-color-add:hover {
            background-color: #ffb11b;
            border-color: #E7F9F9;
            text-decoration: none;
        }

    .btn-color-delete {
        background-color: #9d0000;
        color: #fff;
        border-color: #09547F;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
        cursor: pointer;
    }

        .btn-color-delete:hover {
            background-color: red;
            color: #fff;
            border-color: #E7F9F9;
            text-decoration: none;
            cursor: pointer;
        }

    /* TÍTULO */

    .titulo {
        text-align: center;
        padding: 10px;
    }

    .espacamento {
        padding-bottom: 20px;
    }

        .espacamento h1 {
            font-weight: 600;
        }

    /* MODAL */

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 40%; /* Largura do modal */
    }

    .btn-color-delete {
        background-color: #9d0000;
        color: #fff;
        border-color: #9d0000;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
    }

        .btn-color-delete:hover {
            background-color: red;
            color: #fff;
            border-color: #E7F9F9;
            text-decoration: none;
        }

    /* FILTRO */

    .filtro {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px; /* Arredonda os cantos */
        border: 1px solid #ccc; /* Adiciona uma borda */
    }

    input[type="text"], input[type="submit"] {
        padding: 10px;
        border-radius: 10px; /* Arredonda os cantos */
        border: 1px solid #ccc; /* Adiciona uma borda */
        width: 450px; /* Define a largura desejada */
        height: 40px;
        background-color: #fff;
    }

    /* Estilo para os campos de entrada */
    .custom-input {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 490px;
        height: 40px;
        background-color: #fff;
    }

    /* Estilo específico para o campo dataEventoInicio */
    #dataEventoInicio {
        /* Aplica estilos semelhantes aos do campo projetoNome */
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        width: 360px;
        height: 40px;
        background-color: #fff;
    }


</style>

<link href="/css/site.css" rel="stylesheet" />

<div class="titulo">
    <div class="espacamento">
        <h2>Eventos</h2>
    </div>
    <p>
        <a a class="btn btn-color-add" asp-action="Create">Adicionar</a>
    </p>
</div>

<div style="width: 100%; text-align: center;">
    <form method="get" class="filtro">
        <div style="margin-right: 10px;">
            <label for="projetoNome"><strong>Projeto:</strong></label>
            <input type="text" id="projetoNome" name="projetoNome" value="@ViewBag.ProjetoNome" />
        </div>
        <div style="margin-right: 10px;">
            <label for="dataEventoInicio"><strong>Data de Início</strong></label>
            <input type="date" id="dataEventoInicio" name="dataEventoInicio" value="@ViewBag.DataEventoInicio" class="custom-input" />
        </div>
        <div style="margin-right: 10px;">
            <button class="btn btn-color" type="submit">Filtrar</button>
        </div>
        <div>
            <a href="@Url.Action("Index")"><button type="button" class="btn btn-color">Limpar filtro</button></a>
        </div>
    </form>
</div>





<div class="container">
    @foreach (var item in Model)
    {
        <div class="evento-card">
            <div class="evento-card-header">
                <h3>@item.Projeto.Nome</h3>
            </div>
            <div class="evento-card-body">
                <dl class="row list-unstyled">
                    <dt class="col-sm-4">Projeto:</dt>
                    <dd class="col-sm-8">@item.Projeto.Nome</dd>
                    <dt class="col-sm-4">Data de Início:</dt>
                    <dd class="col-sm-8">@item.DataEventoInicio.ToShortDateString()</dd>
                    <dt class="col-sm-4">Data de Término:</dt>
                    <dd class="col-sm-8">@item.DataEventoFim.ToShortDateString()</dd>
                    <dt class="col-sm-4">Valor da Diária (R$):</dt>
                    <dd class="col-sm-8">@item.ValorDiaria</dd>
                    <dt class="col-sm-4">Cidade:</dt>
                    <dd class="col-sm-8">@item.Cidade</dd>
                    <dt class="col-sm-4">Estado:</dt>
                    <dd class="col-sm-8">@item.Estado</dd>

                </dl>
                <div class="action-btns">
                    <a class="btn-color" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn-color-delete" onclick="openModal('@item.Id', '@item.Projeto.Nome')">Excluir</a>
                </div>
            </div>
        </div>
    }
</div>

<div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
        <h4 id="modalProjetoNome"></h4>
        <form id="deleteForm" asp-action="Delete" method="post">
            <input type="hidden" id="modalProjetoId" name="Id" />
            <button type="submit" class="btn-color-delete">Sim</button>
            <button type="button" class="btn-color" onclick="closeModal()">Não</button>
        </form>
    </div>
</div>

<script>
    function openModal(id, nome) {
        document.getElementById('confirmDeleteModal').style.display = 'block';
        document.getElementById('modalProjetoId').value = id;
        document.getElementById('modalProjetoNome').innerText = 'Você confirma a exclusão do evento da ' + nome + '?';
    }

    function closeModal() {
        document.getElementById('confirmDeleteModal').style.display = 'none';
    }
</script>











