@model IEnumerable<SmartMei.Models.Custo>

@{
    ViewData["Title"] = "Index";
}
<h1>Custos</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PassagemAerea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospedagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deslocamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassagemAerea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hospedagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deslocamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alimentacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Projeto.Nome)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
