@model IEnumerable<SmartMei.Models.Faturamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Faturamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorBruto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustoMensal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorLiquidoMensal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mei)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorBruto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustoMensal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorLiquidoMensal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mei.Email)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
