@model IEnumerable<SmartMei.Models.Faturamento>

@{
    ViewData["Title"] = "Index";
}
<style>
    .titulo {
        text-align: center;
        padding: 10px;
        position: center
    }

    .espacamento {
        padding-bottom: 20px;
    }

        .espacamento h1 {
            font-weight: 600;
        }

    body {
        background-image: url('/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
        background-position: center; /* Centraliza a imagem */
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .faturamento-card {
        width: calc(50% - 20px); /* Metade da largura da tela, com espaçamento entre os cards */
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .faturamento-card-header {
        padding: 10px;
        /*border-bottom: 1px solid #ccc;*/
        background-color: #d9dadb;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .faturamento-card-body {
        padding: 10px;
    }

        .faturamento-card-body dl {
            margin: 0;
        }

    .action-btns {
        padding: 15px;
        text-align: right;
    }

    /* BOTÃO */

    .btn-color {
        background-color: #09547F;
        color: #fff;
        border-color: #09547F;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
    }

        .btn-color:hover {
            background-color: #0C71AB;
            color: #fff;
            border-color: #E7F9F9;
            text-decoration: none;
        }

    .btn-color-delete {
        background-color: #9d0000;
        color: #fff;
        border-color: #09547F;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
        cursor: pointer;
    }

        .btn-color-delete:hover {
            background-color: red;
            color: #fff;
            border-color: #E7F9F9;
            text-decoration: none;
            cursor: pointer;
        }
    .btn-color-add{
        background-color: #FA983C;
        color: black;
        border-color: #FA983C;
        margin-bottom:15px;
    }


    /* Modal */
    .modal {
        display: none; /* Oculta o modal por padrão */
        position: fixed; /* Posição fixa na tela */
        z-index: 1; /* Faz com que o modal fique sobre o conteúdo */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Adiciona scroll quando necessário */
        background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* Centraliza verticalmente */
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 40%; /* Largura do modal */
    }

    .btn-color-delete {
        background-color: #9d0000;
        color: #fff;
        border-color: #9d0000;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 5px;
    }

        .btn-color-delete:hover {
            background-color: red;
            color: #fff;
            border-color: #E7F9F9;
            text-decoration: none;
        }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    .filtro-container{
        text-align: right;
        display: flex;
        margin-bottom:20px;
    }

</style>


<div class="titulo">
    <div class="espacamento">
        <h2>Faturamentos</h2>
    </div>
    <p><a class="btn btn-color-add" asp-action="Create">Adicionar</a></p>
</div>

<div>
  
    <form method="get" class="filtro-container">
        <div style="margin-right: 10px;">
            <label for="mes">Mês:</label>
            <input type="text" id="mes" name="mes" value="@ViewBag.Mes" />
        </div>
        <div style="margin-right: 10px;">
            <label for="ano">Ano:</label>
            <input type="text" id="ano" name="ano" value="@ViewBag.Ano" />
        </div>
        <div style="margin-right: 10px;">
            <button class="btn btn-color" type="submit">Filtrar</button>
        </div>
        <div>
            <a href="@Url.Action("Index")"><button type="button" class="btn btn-color">Limpar filtro</button></a>
        </div>
    </form>
</div>


<div class="container">
    @foreach (var item in Model)
            {
          <div class="faturamento-card">
                <div class="faturamento-card-header">
                    <h3>Referência: @item.Mes / @item.Ano</h3>
                </div>
            <div class="faturamento-card-body">
                <dl class="row list-unstyled">
                    <dt class="col-sm-4">Mes</dt>
                    <dd class="col-sm-8">@item.Mes</dd>
                    <dt class="col-sm-4">Ano</dt>
                    <dd class="col-sm-8">@item.Ano</dd>
                    <dt class="col-sm-4">Valor Bruto</dt>
                    <dd class="col-sm-8">@item.ValorBruto</dd>
                    <dt class="col-sm-4">Custo Mensal</dt>
                    <dd class="col-sm-8">@item.CustoMensal</dd>
                    <dt class="col-sm-4">Valor Líquido Mensal</dt>
                    <dd class="col-sm-8">@item.ValorLiquidoMensal</dd>
                    <dt class="col-sm-4">Mei</dt>
                    <dd class="col-sm-8">@item.Mei.Nome</dd>
                </dl>
                <div class="action-btns">
                   <a class="btn-color" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn-color-delete" onclick="openModal('@item.Id', '@item.Mes')">Excluir</a>
                </div>
           </div>
</div>
            }
        <div id="confirmDeleteModal" class="modal">
            <div class="modal-content">
                <h4 id="faturamentoMes"></h4>
                <form id="deleteForm" asp-action="Delete" method="post">
                    <input type="hidden" id="faturamentoId" name="Id" />
                    <button type="submit" class="btn-color-delete">Sim</button>
                    <button type="button" class="btn-color" onclick="closeModal()">Não</button>
                </form>
            </div>
        </div>
        </div>
    <script>
        function openModal(id, mes) {
            document.getElementById('confirmDeleteModal').style.display = 'block';
            document.getElementById('faturamentoId').value = id;
            document.getElementById('faturamentoMes').innerText = 'Você confirma a exclusão do faturamento referente ao mês ' + mes + '?';
        }

        function closeModal() {
            document.getElementById('confirmDeleteModal').style.display = 'none';
        }
    </script>
